@import "variables";

.button {
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    padding: 8px 10px;
    margin: 2px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary-color);
}